Extract the subset of the data we want to look at.

In [ ]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Identify columns

Use the Alaska data to identify the colums we want.

In [ ]:
def read_state_df(state):
    df = pd.read_excel(f"../data/states/{state}.xlsx", "Additional Measure Data", header=1)
    # standardize the column name of Borough/County/Parish
    df = df.rename(columns={'Borough': 'Division', 'County': 'Division', 'Parish': 'Division'})
    return df

In [ ]:
df = read_state_df("Alaska")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
le_cols = [c for c in df.columns if c.startswith('Life Expectancy (') and c.endswith(')')]

In [ ]:
pop_cols = ['Population', 
            '# Black', '% Black', 
            '# American Indian & Alaska Native', '% American Indian & Alaska Native', 
            '# Asian', '% Asian',
            '# Native Hawaiian/Other Pacific Islander',
            '% Native Hawaiian/Other Pacific Islander', 
            '# Hispanic', '% Hispanic',
            '# Non-Hispanic White', '% Non-Hispanic White',
            '% Female']

In [ ]:
income_cols = [c for c in df.columns if "Income" in c]

In [ ]:
cols = ['FIPS', 'State', 'Division', 'Life Expectancy']
cols.extend(le_cols)
cols.extend(pop_cols)
cols.extend(income_cols)

Here are the columns

In [ ]:
cols

# Subset data

Create a table with these columns for all states and territories.

In [ ]:
states = [
'Alabama',
'Alaska',
'Arizona',
'Arkansas',
'California',
'Colorado',
'Connecticut',
'Delaware',
'District_of_Columbia',
'Florida',
'Georgia',
'Hawaii',
'Idaho',
'Illinois',
'Indiana',
'Iowa',
'Kansas',
'Kentucky',
'Louisiana',
'Maine',
'Maryland',
'Massachusetts',
'Michigan',
'Minnesota',
'Mississippi',
'Missouri',
'Montana',
'Nebraska',
'Nevada',
'New_Hampshire',
'New_Jersey',
'New_Mexico',
'New_York',
'North_Carolina',
'North_Dakota',
'Ohio',
'Oklahoma',
'Oregon',
'Pennsylvania',
'Rhode_Island',
'South_Carolina',
'South_Dakota',
'Tennessee',
'Texas',
'Utah',
'Vermont',
'Virginia',
'Washington',
'West_Virginia',
'Wisconsin',
'Wyoming'
]

In [ ]:
subsets = []
for state in states:
    print(f"Processing {state}")
    df = read_state_df(state)
    subsets.append(df[cols])

In [ ]:
len(subsets)

# Export data

First the division-level data

In [ ]:
df = pd.concat(subsets)

In [ ]:
# Look at only Borough/County/Parish data
df = df.dropna(subset='Division')

In [ ]:
df.head()

In [ ]:
df.to_csv("../data/rwjf/division.csv", index=False)

Then the state-level data

In [ ]:
df = pd.concat(subsets)
df = df[pd.isna(df['Division'])]
df.head()

In [ ]:
df.to_csv("../data/rwjf/state.csv", index=False)